@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@font-face {
	font-family: "Larsseit";
	src:
		url("../fonts/larsseit.woff2") format("woff2"),
		url("../fonts/larsseit.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src:
		url("../fonts/larsseit-medium.woff2") format("woff2"),
		url("../fonts/larsseit-medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src:
		url("../fonts/larsseit-bold.woff2") format("woff2"),
		url("../fonts/larsseit-bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

ul {
	font-family: "larsseit";
	font-weight: 700;
	color: greenyellow;
}
h1 {
	font-family: "larsseit";
	font-weight: 500;
}
.text > p {
	color: rgb(25, 0, 255);
}
a {
	color: yellow;
	font-size: 20px;
}
.text ~ p {
	color: red;
}
a {
	color: yellow;
	font-size: 20px;
}
.text1 p {
	font-family: "lato";
	font-weight: 900;
	color: rgb(13, 196, 47);
}
